.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper h3 {
    font-size: 1.5rem;
}

.brandAndSKU {
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.sku {
    display: flex;
    align-items: center;
    color: #a0a0a0;
    text-align: right;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.rating span {
    margin: 0 16px 0 0;
}

.rating p {
    color: #a0a0a0;
}

.colors {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    gap: 8px;
}

.colors button {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.sizeWrapper {
    display: flex;
    flex-direction: column;
}

.isSizeMissing {
    font-weight: 600;
    color: red;
}

.size {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin: 10px 0;
}

.size button {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.buttonActive {
    border: 1px solid #000 !important;
}

.addCartButton {
    background-color: #000;
    border: none;
    border-radius: 8px;
    color: #fff;
    min-width: auto;
    max-width: auto;
    flex-grow: 1;

    &:hover {
        cursor: pointer;
    }
}

.addFavoriteButton {
    display: flex;
    background-color: #f0f0f0;
    border: none;
    border-radius: 8px;
    padding: 10px;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #dfdfdf;
    }
}