.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0 16px;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: #99c3ff;
        cursor: pointer;
    }
}

.icon {
    color: white;
    height: 24px;
    width: 24px;
    color: inherit;
    
}

.itemName {
    font-size: 0.8rem;
    margin: 5px 0 0;
}

.cartCount {
    display: flex;
    position: absolute;
    right: 8px;
    top: -4px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}